{% extends "zerver/portico.html" %}
{% set entrypoint = "landing-page" %}

{% set PAGE_TITLE = "Plans and pricing | OneHash Connect" %}

{% set PAGE_DESCRIPTION = "Choose between Connect Cloud Free and Connect Cloud
  Standard. Support contracts available." %}

{% block customhead %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block portico_content %}

{% include 'zerver/gradients.html' %}
{% include 'zerver/landing_nav.html' %}

<div class="portico-landing plans">
    <div class="main">
        {% include "onehash_corporate/connect_pricing_model.html" %}
    </div>
    <br />
    {% include "onehash_corporate/connect_compare.html" %}
</div>
{% endblock %}
